  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 1;
    /* transition: width 0.5s, margin-left 0.5s, margin-right 0.5s ; */
    overflow: auto;
    width: 100%;
    background-color: white;
  }

  .sidebar a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #585858;
    /* color: #818181; */
    transition: 0.2s;
  }

  .sidebar li a:hover {
    background-color: #E1E1E1;
  }
  
  .sidebar li a:hover:focus {
    background-color: #C1C1C1;
  }

  .sidebar li a:focus {
    background-color: #C1C1C1;
  }

  .sidebar h1 {
    padding: 8px 8px 0px 16px;
  }

  .sidebar hr {
    margin: 8px 8px 20px 8px;
  }