@model IEnumerable<SubscriptionDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My subscriptions</h1>

    @foreach(var subscription in Model)
    {
    <div>
        @*subscription*@

    </div>
    }

    <div>Find domain</div>

    <div>Create your own domain</div>
</div>
